<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>吉茶 | 關於我們</title>
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/about.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
        integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
</head>

<body>


    <header>
        <div id="content" class="content">
            <!-- logo -->
            <a :href="index">
                <img :src="logoImg" class="logo" alt="logo">
            </a>
            <!-- 左側工具列 -->
            <div class="header-group">
                <div class="cart">
                    <a :href="cart">
                        <i class="fa-solid fa-cart-shopping" style="color: #fff;" id="cart-i"></i>
                    </a>
                </div>
                <div class="login">
                    <i class="fa-solid fa-user" style="color: #fff;" id="login-i"></i>
                </div>
            </div>
            <!-- 導覽列 -->
            <nav class="menu">
                
                        <div v-for="navItem in nav" class="item">
                            <a :href="navItem.link" class="nav-link">
                                <img :src="navItem.image" alt="" class="navicon">
                                <p>{{navItem.label}}</p>
                    </a>
                </div>

            </nav>
            <div class="hamburger">
                <span v-for="span in 3" class="bar"></span>
            </div>

            <nav class="m-menu" id="m-menu">
               
                <a v-for="mNavItem in mNav" :href="mNavItem.link" class="m-link">{{mNavItem.label}}</a>
            </nav>
    </header>


    <div id="login-page" class="login-page">
        <div class="login-area">
            <h2>{{title[0]}}</h2>
            <div v-for="loginInput in login" :class="loginInput.class">
                <label for="">{{loginInput.title}}</label>
                <input :type="loginInput.type" :placeholder="loginInput.title">
            </div>
            <div class="login-btn">
                <button>{{title[1]}}</button>
            </div>
            <a href="">{{title[2]}}</a>
            <a href="">{{title[3]}}</a>
            <span>{{title[4]}}</span>
        </div>
        <div class="login-banner"></div>
    </div>



    <article class="main">

        <div class="title">
            <h1>關於我們</h1>
        </div>
    </article>

    <div>
        <nav class="breadcrumb">
            <ul>
                <li>
                    <a href="index.html">首頁</a>
                </li>
                <li>
                    <a href="about.html">關於我們</a>
                </li>
            </ul>
        </nav>
    </div>


    <section id="about" class="about">
        <div class="about-wrap">
            <div v-for="(card, index) in aboutCards" :key="index" class="about-card">
                <div class="point-num">
                    <img class="point" :src="card.pointImg" :alt="card.pointAlt">
                    <img class="m-point" :src="card.mPointImg" :alt="card.mPointAlt">
                </div>
                <div class="item">
                    <img :src="card.itemImg" :alt="card.itemAlt">
                    <p>{{ card.description }}</p>
                </div>
            </div>
        </div>
    </section>


    <button id="page-top">
        <img src="img/pagetop1.svg" alt="page_top">
    </button>


    <!-- footer -->
    <footer id="footer">
        <div class="footer-area">
          <div class="footer-logo">
            <a :href="logo.link">
              <img :src="'img/' + logo.img" :alt="logo.alt"
            /></a>
          </div>
          <nav class="footer-nav">
            <div class="footer-nav-item">
              <ul v-for="nav in footerNav">
                <li>
                  <a :href="nav.link">{{nav.label}}</a>
                </li>
              </ul>
            </div>
            <div class="sns">
              <ul v-for="snS in sns">
                <li>
                  <a href=""><img :src="'img/' + snS.img" :alt="snS.alt" /></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="tibame">
          <p>
            本網站為緯育TibaMe_前端設計工程師班學員專題成果作品，本平台僅供學習、展示之用。
          </p>
        </div>
      </footer>

      <script>
        Vue.createApp({
          data() {
            return {
              index: "index.html",
              logoImg: "img/logo.png",
              cart: "cart.html",
              nav: [
                { link: "news.html", image: "img/news.png", label: "最新消息" },
                { link: "about.html", image: "img/about.png", label: "關於我們" },
                { link: "shop.html", image: "img/shop.png", label: "商品一覽" },
                {
                  link: "maketea.html",
                  image: "img/tea.png",
                  label: "簡單泡杯茶",
                },
                {
                  link: "access.html",
                  image: "img/access.png",
                  label: "聯絡我們",
                },
                { link: "qaz.html", image: "img/qaz.png", label: "常見問題" },
              ],
              mNav: [
                { link: "news.html", label: "最新消息" },
                { link: "about.html", label: "關於我們" },
                { link: "shop.html", label: "商品一覽" },
                { link: "maketea.html", label: "簡單泡杯茶" },
                { link: "access.html", label: "聯絡我們" },
                { link: "qaz.html", label: "常見問題" },
                { link: "#", label: "會員登入" },
                { link: "cart.html", label: "購物車" },
              ],
            };
          },
        }).mount("#content");
  
        Vue.createApp({
          data() {
            return {
              title: ["會員登入", "登入", "註冊", "忘記密碼", "×"],
              login: [
                { title: "電子郵件", type: "email", class: "login-email" },
                { title: "密碼", type: "password", class: "login-pw" },
              ],
            };
          },
        }).mount("#login-page");
  
        Vue.createApp({
    data() {
        return {
            aboutCards: [
                {
                    pointImg: 'img/point1.png',
                    mPointImg: 'img/m-point1.png',
                    pointAlt: 'point1',
                    itemImg: 'img/point1-img.jpg',
                    itemAlt: '嚴格控管',
                    description: '茶葉生產過程應嚴格控管，從選擇優質種植地點、採摘經驗豐富的工人，到妥善保管茶葉並確保乾燥過程準確無誤。此外，應檢測茶葉品質，以確保其安全、衛生，並遵守相關法規和環保標準。這樣的嚴格控管將確保消費者享受到高品質的茶葉。'
                },
                {
                    pointImg: 'img/point2.png',
                    mPointImg: 'img/m-point2.png',
                    pointAlt: 'point2',
                    itemImg: 'img/point2-img.jpg',
                    itemAlt: '健康成分',
                    description: '茶葉含有豐富的健康成分，如多酚、咖啡因、氨基酸和維生素等。這些成分具有抗氧化、抗炎和促進新陳代謝的作用，有助於保護心臟健康、降低血壓、增強免疫系統並改善消化功能。每天享用適量的茶葉可以促進身體健康，提供天然的能量和平靜的心境。'
                },
                {
                    pointImg: 'img/point3.png',
                    mPointImg: 'img/m-point3.png',
                    pointAlt: 'point3',
                    itemImg: 'img/point3-img.jpg',
                    itemAlt: '商品多樣化',
                    description: '茶葉的多樣化應用使其成為一種受歡迎的商品。除了飲用茶葉本身外，還可以製作成各種飲料、冰淇淋、日式甜點、茶凍等。這種多樣性提供了不同口味和體驗，讓人們可以根據自己的喜好和需求選擇茶葉產品，享受到多層次的茶香和美味。'
                }
            ]
        };
    }
}).mount("#about");
  
        Vue.createApp({
          data() {
            return {
              logo: { link: "index.html", img: "logo.png", alt: "logo" },
              footerNav: [
                { link: "news.html", label: "最新消息" },
                { link: "about.html", label: "關於我們" },
                { link: "shop.html", label: "商品一覽" },
                { link: "maketea.html", label: "簡單泡杯茶" },
                { link: "access.html", label: "聯絡我們" },
                { link: "qaz.html", label: "常見問題" },
              ],
              sns: [
                { img: "twitter.png", alt: "twitter" },
                { img: "line.png", alt: "line" },
                { img: "instagram.png", alt: "instag" },
              ],
            };
          },
        }).mount("#footer");
      </script>

    <script src="js/header.js"></script>
    <script src="js/about.js"></script>

</body>

</html>