<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>吉茶 | 最新消息</title>
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/news.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
        integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
</head>

<body>
    <header>

        <div id="content" class="content">
            <!-- logo -->
            <a :href="index">
                <img :src="logoImg" class="logo" alt="logo">
            </a>
            <div class="header-group">
                <div class="cart">
                    <a :href="cart">
                        <i class="fa-solid fa-cart-shopping" style="color: #fff;" id="cart-i"></i>
                    </a>
                </div>
                <div class="login">
                    <i class="fa-solid fa-user" style="color: #fff;" id="login-i"></i>
                </div>
            </div>
            <!-- 覽導列 -->
            <nav class="menu">
                <div v-for="navItem in nav" class="item">
                    <a :href="navItem.link" class="nav-link">
                        <img :src="navItem.image" alt="" class="navicon">
                        <p>{{navItem.label}}</p>
                    </a>
                </div>
            </nav>
            <!-- 漢堡 -->
            <div class="hamburger">
                <span v-for="span in 3" class="bar"></span>
            </div>
            <!-- 手機導覽列 -->
            <nav class="m-menu" id="m-menu">
                <a v-for="mNavItem in mNav" :href="mNavItem.link" class="m-link">{{mNavItem.label}}</a>
            </nav>
        </div>
    </header>

    <!-- 登入頁面 -->
    <div id="login-page" class="login-page">
        <div class="login-area">
            <h2>{{title[0]}}</h2>
            <div v-for="loginInput in login" :class="loginInput.class">
                <label for="">{{loginInput.title}}</label>
                <input :type="loginInput.type" :placeholder="loginInput.title">
            </div>
            <div class="login-btn">
                <button>{{title[1]}}</button>
            </div>
            <a href="">{{title[2]}}</a>
            <a href="">{{title[3]}}</a>
            <span>{{title[4]}}</span>
        </div>
        <div class="login-banner"></div>
    </div>


    <!-- 大圖 -->
    <article class="main">

        <div class="title">
            <h1>最新消息</h1>
        </div>

    </article>

    <!-- 麵包削 -->
    <div>
        <nav class="breadcrumb">
            <ul>
                <li>
                    <a href="index.html">首頁</a>
                </li>
                <li>
                    <a href="news.html">最新消息</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- 最新消息 -->
    <section id="news" class="news">
        <div class="news-class">
            <a href="" class="all">{{tag[0]}}</a>
            <a href="">{{tag[1]}}</a>
            <a href="">{{tag[2]}}</a>
            <a href="">{{tag[3]}}</a>
            <div class="news-search">
                <input type="search" placeholder="輸入關鍵字">
                <button>
                    <i class="fa-solid fa-magnifying-glass" style="color:#ffffff;"></i>
                </button>
            </div>
        </div>
        <div class="news-list">
            <div v-for="newsItem in news" class="news-item">
                <div class="pic">
                    <a href=""><img :src="'img/' + newsItem.img" :alt="newsItem.alt"></a>
                </div>
                <div class="txt">
                    <time>{{newsItem.time}}</time>
                    <span :class="newsItem.tagClass">{{newsItem.tag}}</span>
                    <a href="">
                        <h3>{{newsItem.title}}</h3>
                    </a>
                    <p>{{newsItem.txt}}</p>
                </div>
            </div>
        </div>
        <nav class="news-page">
            <ul class="page-list">
                <a v-for="page in 3" :key="page" href="" class="page-link">{{page}}</a>
                <a href="" class="page-link">下一頁＞</a>
            </ul>
        </nav>
    </section>

    <!-- 回頂端按鈕 -->
    <button id="page-top">
        <img src="img/pagetop1.svg" alt="page_top">
    </button>


    <!-- footer -->
    <footer id="footer">
        <div class="footer-area">
            <div class="footer-logo">
                <a :href="logo.link">
                    <img :src="'img/' + logo.img" :alt="logo.alt"></a>
            </div>
            <nav class="footer-nav">
                <div class="footer-nav-item">
                    <ul v-for="nav in footerNav">
                        <li>
                            <a :href="nav.link">{{nav.label}}</a>
                        </li>
                    </ul>
                </div>
                <div class="sns">
                    <ul v-for="snS in sns">
                        <li>
                            <a href=""><img :src="'img/' + snS.img" :alt="snS.alt"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="tibame">
            <p>本網站為緯育TibaMe_前端設計工程師班學員專題成果作品，本平台僅供學習、展示之用。</p>
        </div>
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    index: 'index.html',
                    logoImg: 'img/logo.png',
                    cart: 'cart.html',
                    nav: [
                        { link: 'news.html', image: 'img/news.png', label: '最新消息' },
                        { link: 'about.html', image: 'img/about.png', label: '關於我們' },
                        { link: 'shop.html', image: 'img/shop.png', label: '商品一覽' },
                        { link: 'maketea.html', image: 'img/tea.png', label: '簡單泡杯茶' },
                        { link: 'access.html', image: 'img/access.png', label: '聯絡我們' },
                        { link: 'qaz.html', image: 'img/qaz.png', label: '常見問題' }
                    ],
                    mNav: [
                        { link: 'news.html', label: '最新消息' },
                        { link: 'about.html', label: '關於我們' },
                        { link: 'shop.html', label: '商品一覽' },
                        { link: 'maketea.html', label: '簡單泡杯茶' },
                        { link: 'access.html', label: '聯絡我們' },
                        { link: 'qaz.html', label: '常見問題' },
                        { link: '#', label: '會員登入' },
                        { link: 'cart.html', label: '購物車' }
                    ]
                }
            },
        }).mount('#content');

        Vue.createApp({
            data() {
                return {
                    title: ['會員登入', '登入', '註冊', '忘記密碼', '×'],
                    login: [
                        { title: '電子郵件', type: 'email', class: 'login-email' },
                        { title: '密碼', type: 'password', class: 'login-pw' },
                    ],

                }
            },
        }).mount('#login-page');


        Vue.createApp({
            data() {
                return {
                    tag: ['全部', '重要', '活動', '商品'],
                    time: '2023年7月12日',
                    news: [
                        { alt: '新商品春茶', tag: '重要', tagClass: 'important', img: 'new-tea.png', title: '全新春芽茶上市！品味來自茶葉的奇蹟', txt: '帶來令人興奮的消息！我們推出全新茶系列，讓您品味來自茶葉的奇蹟。這個系列匯集了來自世界各地的稀有茶葉，每一款都帶給你獨特的風味和深邃的文化背景。從高山的清新綠茶到發酵的黑茶，從花果的香氣到獨特的白茶，我們的全新茶系列將帶您踏上一段驚喜之旅。每一杯茶都是一次心靈的饗宴，讓您感受大自然的恩賜和人類智慧的結晶。我們專業的茶葉師傅將為您提供個性化的茶葉建議，並分享深入的茶葉知識。無論你是對茶葉新手還是茶道愛好者，我們都將帶你深入了解茶葉的世界，讓你享受茶葉所帶來的美好。一同品味來自茶葉的奇蹟，讓我們與您共同追尋茶葉的真諦和魅力。' },
                        { alt: '折扣', tag: '活動', tagClass: 'event', img: 'sale.jpg', title: '吉茶茶香嘉年華！限時優惠，體驗茶葉的魅力', txt: '為了慶祝新店開幕，特別舉辦茶香嘉年華活動，讓您更深入地了解和體驗茶葉的魅力！活動期間，我們準備了以下豐富的禮遇和驚喜，讓您愛上茶葉的魅力：限時優惠：為了回饋顧客的支持，我們將提供特別的限時優惠，包括折扣、優惠套裝和會員專屬福利，讓您以優惠的價格品味頂級的茶葉。品茶體驗：我們將舉辦精彩的品茶活動，由我們專業的茶葉師傅親自示範和講解不同茶葉的特性和冲泡技巧。您將有機會親身體驗茶葉的故事和茶湯的風味。茶葉知識分享：我們將舉辦茶葉知識講座和研討會，讓您深入了解茶的歷史、種類、產地和製程。這將是一個與其他茶愛者交流和學習的絕佳機會。禮品贈送：在活動期間，我們將贈送精美的茶禮品，讓您帶回家品味和分享茶葉的美好。茶香嘉年華活動將為您帶來一場茶的盛宴，無論您是茶葉新手還是茶道愛好者，這將是一個絕佳的機會來探索、學習和享受茶葉的魅力。請攜帶您的朋友和家人一同前來，讓我們一同沉浸在茶香的海洋中。切勿錯過這個難得的機會！茶香源專賣店誠摯地邀請您蒞臨參加茶香嘉年華活動，與我們共同分享茶葉的美妙之旅。' },
                        { alt: '門市開幕', tag: '重要', tagClass: 'important', img: 'new-shop.jpg', title: '實體店鋪開幕！品味純正的吉茶開始為您服務', txt: '實體店鋪全新開幕啦！我們誠摯邀請您來品味純正的茶葉饗宴。這裡是一個追求品質和獨特茶香的天堂，您可以在這裡找到各種種類的優質茶葉，帶您探索不同茶葉帶來的風味和滋味。我們的店內陳列著來自各地的上等茶葉，無論您是喜愛清香的綠茶、濃郁的紅茶還是芳香四溢的花茶，我們都能滿足您的口味需求。此外，我們還提供精選茶具和茶道禮品，讓您的品茗體驗更上一層樓。秉持著對茶葉的熱愛和追求，我們的團隊專業且熱情，隨時準備為您提供個性化的茶葉建議和茶葉知識。我們致力於讓每一位茶愛者都能在這裡找到心靈的寧靜和茶香的滿足。無論是自己品味，還是送給親友，吉茶都是您的最佳選擇。請帶著好奇心和味蕾的渴望，讓我們一起享受茶葉的奇妙之旅吧！' },
                        { alt: '贈禮', tag: '活動', tagClass: 'event', img: 'tea.jpg', title: '茶葉試飲活動！探索茶的無限風味', txt: '現正舉辦茶葉試飲活動，邀請您一同探索茶的無限風味！在這個活動中，我們將為您準備各種精選茶葉，從清新的綠茶到芳香四溢的花茶，從濃郁的紅茶到風味獨特的白茶，讓您一次品味多種茶的美妙。' },
                    ]
                }
            },
        }).mount('#news');

        Vue.createApp({
            data() {
                return {
                    logo: { link: 'index.html', img: 'logo.png', alt: 'logo' },
                    footerNav: [
                        { link: 'news.html', label: '最新消息' },
                        { link: 'about.html', label: '關於我們' },
                        { link: 'shop.html', label: '商品一覽' },
                        { link: 'maketea.html', label: '簡單泡杯茶' },
                        { link: 'access.html', label: '聯絡我們' },
                        { link: 'qaz.html', label: '常見問題' },
                    ],
                    sns: [
                        { img: 'twitter.png', alt: 'twitter' },
                        { img: 'line.png', alt: 'line' },
                        { img: 'instagram.png', alt: 'instag' },
                    ]

                }
            },
        }).mount('#footer');

    </script>

    <script src="js/header.js"></script>



</body>

</html>